// Mixins from the HTML5 Boilerplate
// --------------------

@mixin h5b-ir($url, $width, $height){
  background-image: url($url);
  background-color: transparent;
  width: $width;
  height: $height;
  overflow: hidden;
  // IE 6/7 fallback 
  *text-indent: -9999px;
  &:before{
    content: "";
    display: block;
    width: 0;
    height: 100%;
  }
}

@mixin h5b-visually-hidden{
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin h5b-clearfix{
  &:before{
    content: "";
    display: table;
  }
  &:after{
    content: "";
    display: table;
    clear: both;
  }
  *zoom: 1;
}
