@import "compass";
@import "susy";
@import "constants";
@import "h5b-mixins";

// Custom Mixins
// --------------------

@mixin menu-unstyled{
  margin-left: 0;
  list-style: none;
}

@mixin sunrise($color: $color-primary, $extent: .1){
  @include background-image(radial-gradient(center bottom, ellipse cover, lighten($color, (100 - lightness($color)) * $extent), darken($color, lightness($color) * $extent)));
}

@mixin light-dark-color-switch($background, $light-color: #fff, $dark-color: #000){
  @if lightness($background) > 50%{
    color: $dark-color;
  }@else{
    color: $light-color;
  }
}

@mixin letterpress($direction: down){
  @if($direction == down){
    @include text-shadow(rgba(black, .8) 0 -1px 0, rgba(white, .8) 0 1px 0);
  }@else{
    @include text-shadow(rgba(white, .8) 0 -1px 0, rgba(black, .8) 0 1px 0);
  }
}

@mixin menu-horizontal-dropdown($topLevelWidth, $lowerLevelWidth){
  ul{ 
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 1;
  }
  a{
    display: block;
    width: $topLevelWidth;
  }
  li{
    float: left;
    width: $topLevelWidth;
    &:hover{
      ul{
        left: auto;
        li{
          float: none;
          display: block;
        }
        ul{
          left: -999em;
        }
      }
    }
    li:hover{
      ul{
        left: auto;
      }
    }
    ul{
      position: absolute;
      width: $lowerLevelWidth;
      left: -999em;
      ul{
        margin: -1em 0 0 $lowerLevelWidth;
      }
    }
  }
}

@mixin draft-menu{
  a{
    display: block;
    width: 10em;
    &:hover{
      + ul{
        left: auto;
      }
    }
  }
  li{
    float: left;
    width: 10em;
    ul{
      position: absolute;
      width: 10em;
      left: -999em;
    }
  }
}

@mixin input-vertical-rhythm($font-size: $base-font-size){
  font-size: $font-size;
  padding: (((((lines-for-font-size($font-size) + 1) * $base-line-height) - $base-line-height) * .25) / $font-size) + 0em;
  margin: ((((((lines-for-font-size($font-size) + 1) * $base-line-height) - $base-line-height) * .25) - 1px) / $font-size) + 0em;
}

@mixin input-vertical-rhythm-thin($font-size: $base-font-size){
  font-size: $font-size;
  padding: (((((lines-for-font-size($font-size) + 1) * $base-line-height) - $base-line-height) * .1) / $font-size) + 0em;
  margin: ((((((lines-for-font-size($font-size) + 1) * $base-line-height) - $base-line-height) * .4) - 1px) / $font-size) + 0em;
}

@mixin button($background-color: $color-primary, $font-size: $base-font-size, $radius: .5em){
  display: block;
  width: auto;
  font-size: $font-size;
  padding: (((((lines-for-font-size($font-size) + 1) * $base-line-height) - $base-line-height) * .25) / $font-size) + 0em;
  margin: ((((((lines-for-font-size($font-size) + 1) * $base-line-height) - $base-line-height) * .25) - 0px) / $font-size) + 0em;
  background: $background-color;
  text-decoration: none;
  @include light-dark-color-switch($background-color);
  @include border-radius($radius);
  &:hover{
    background-image: none;
    background: darken($background-color, lightness($background-color) * .2);
  }
  &:active{
    border-color: transparent;
    background-image: none;
    background: darken($background-color, lightness($background-color) * .3);
  }
}

@mixin button-matte($background-color: $color-primary, $font-size: $base-font-size, $radius: 0){
  @include button($background-color, $font-size, $radius);
  @include background-image(linear-gradient(-45deg, darken($background-color, lightness($background-color) * .01), saturate(lighten($background-color, (100 - lightness($background-color)) * .01),(100 - saturation(lighten($background-color, (100 - lightness($background-color)) * .01))) * .01)));
}

@mixin button-low-gloss($background-color: $color-primary, $font-size: $base-font-size, $radius: .5em){
  @include background-image(linear-gradient(darken($background-color, lightness($background-color) * .15), lighten($background-color, (100 - lightness($background-color)) * .15)));
  border-top: 1px solid lighten($background-color, (100 - lightness($background-color)) * .4);
  border-bottom: 1px solid darken($background-color, lightness($background-color) * .4);
  padding: (((((lines-for-font-size($font-size) + 1) * $base-line-height) - $base-line-height) * .25) / $font-size) + 0em;
  margin: ((((((lines-for-font-size($font-size) + 1) * $base-line-height) - $base-line-height) * .25) - 1px) / $font-size) + 0em;
}

@mixin inline-button($background-color: $color-primary, $font-size: $base-font-size, $radius: .5em){
  display: inline-block;
}

@mixin thin-button($background-color: $color-primary, $font-size: $base-font-size, $radius: .5em){
  padding: (((((lines-for-font-size($font-size) + 1) * $base-line-height) - $base-line-height) * .1) / $font-size) + 0em;
  margin: ((((((lines-for-font-size($font-size) + 1) * $base-line-height) - $base-line-height) * .4) - 1px) / $font-size) + 0em;
  padding-left: 1em;
  padding-right: 1em;
}

@mixin button-left-flush(){
  margin-left: -4px;
  @include border-top-left-radius(0);
  @include border-bottom-left-radius(0);
  border-left: none;
}

@mixin input-right-flush(){
  margin-right: 0;
  @include border-top-right-radius(0);
  @include border-bottom-right-radius(0);
  border-right: none;
}

@mixin heading{
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  color: $heading-color;
  text-rendering: optimizelegibility;
  a{
    text-decoration: none;
    &:visited{
      color: $link-color;
    }
  }
}

// Wordpress mixins
// --------------------

@mixin align-none{
  margin-right: 1em;
}

@mixin align-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin align-right{
  float: right;
  margin-left: 1em;
}

@mixin align-left{
  float: left;
  margin-right: 1em;
}
